.banner {
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.container-light {
    margin-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: lightgray;
    
}

.container-dark{
    background-color: darkgray;
    margin-top: 0;
    margin-bottom: 0;
}

/* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}

/* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: rgb(0, 0, 0);
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid rgb(0, 0, 0);
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: lightgray;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.timeline-item-list-item {
    margin-bottom: 7px;
}

.checked {
    color: orange;
}

.social-link {
    width: 30px;
    height: 30px;
}

.stars{
    text-align: right;
}

.skill-row{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-right: 1rem;

    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: black;
    
}

.maincol-skill-border{
    border-left: 3px solid black;
    border-top: 0px hidden black;
}

.maincol-skill-padding{
    padding-top: 0px;
}

@media only screen and (max-width: 768px) {
    .maincol-skill-border{
        border-left: 0px hidden black;
        border-top: 3px solid black;
    }
    .maincol-skill-padding{
        padding-top: 6px;
    }
}

.about-section{
    padding: 1rem;
}